body{
    margin: 0;
    padding: 0;
    background: url(img/bakgr.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login .avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -13%;
    left: calc(50% - 50px);
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"]{
    margin-bottom: 20px;
    background: #fff;
}

.wrapper{
    width: 450px;
    height: 1100px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 190px 10px;  

}

.wrapper h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


.wrapper input{
    width: 60%;
    margin-bottom: 20px;
}

.wrapper input[type="text"],
.wrapper input[type="password"],
.wrapper input[type="number"],
.wrapper input[type="email"]{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
}

.registro {
    width: 450px;
    height: 600px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 10px;  
}

.registro h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registro input{
    width: 60%;
    margin-bottom: 20px;
}

.registro input[type="text"],
.registro input[type="number"]{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
}

.transferencia {
    width: 450px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 10px; 
}

.transferencia h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}

.transferencia input{
    width: 60%;
    margin-bottom: 20px;
}

.transferencia text{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 11px;
}

.transferencia input[type="number"]{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
}

.transferencia input[type="submit"]{
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
}

.home {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.home h1{
    margin: 0;
    padding: 0 0px;
    text-align: center;
    font-size: 22px;
}

.home text{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 15px;
    text-align: center;
    padding-left: 28px;
}

.home a{
    margin: 0;
    padding: 0 0 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-size: 15px;
}